[defaults]
inventory = inventory.yml
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
